@charset "utf-8";
/* CSS Document */
h1{
	text-align: center;
	letter-spacing: 3px;
	font-family: Helvetica;
	border: 3px solid black;
	display: block;
}

h2{
	text-align: center;
	letter-spacing: 3px;
	font-family: Helvetica;
	font-size: 18px;
	-ms-transform: translate(-40%, 0%);
	-webkit-transform: translate(-40%, 0%);
	transform: translate(-40%, 0%);
	position: relative;
	display: block;
}
h3{
	text-align: center;
	letter-spacing: 3px;
	font-family: Helvetica;
	font-size: 18px;
	top:-40px;
	position: relative;
	display: block;
}
h4{
	text-align: center;
	letter-spacing: 3px;
	font-family: Helvetica;
	font-size: 16px;
	left: 35%;
	top:-80px;
	position: relative;
	display: block;
}
#picture {
	background-image: url("twinnie.jpg");
	width: 300px;
    height: 300px;
	border: 5px solid white;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;	
    position: relative;
	margin: auto;
	display: block;


	background-size: contain;
	/*z-index: 1;*/
}
.contact{
	width: 100%;
	height: 100px;
	position: relative;
	margin: auto;
	display: block;
	
}
img {
	position: relative;
	margin: auto;
	
	
}

#img1 {
	-ms-transform: rotate(340deg);
	-webkit-transform: rotate(340deg);
	transform: rotate(340deg);
	transform-origin: 50% 50%;
	top: 350px;
    left: 5px;
	
}

#img2 {
	top: 370px;
	left:85px;
	-ms-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
	transform-origin: 50% 50%;
}

#img3 {
	top: 430px;
	left: 180px;
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}

.center {
	width: 600px;
	height: 600px;
	padding-bottom: 10%;
	position: relative;
	margin: auto;
}

h5 {
	letter-spacing: 3px;
	font-family: Helvetica;
	font-size: 18px;
	transform: rotate(70deg);
	top: 520px;
	left: -38%;
	position: relative;
}
h6{
	letter-spacing: 3px;
	font-family: Helvetica;
	font-size: 18px;
	top: 450px;
	left: 200px;
	margin: auto;
	position: relative;
}
h7, #activites{
	letter-spacing: 3px;
	font-family: Helvetica;
	font-size: 18px;
	font: bold;
	transform: rotate(-70deg);
	-ms-transform: rotate(-70deg);
	-webkit-transform: rotate(-70deg);
	transform-origin: 50% 50%;
	top: 230px;
	left: 400px;
	position: relative;
}
h8, #robotics{
	letter-spacing: 3px;
	font-family: Helvetica;
	font-size: 18px;
	font: bold;
	transform: rotate(250deg);
	-ms-transform: rotate(250deg);
	-webkit-transform: rotate(250deg);
	top: 149px;
	left: 470px;
	position: relative;
}

#img4{
	transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	top: 180px;
	left: 500px;
	position: relative;
}
#img5{
	transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	position: relative;
	top: 260px;
	left: 285px;
}
h9, #science_olympiad{
	position: relative;
	top: 285px;
	left: 190px;
	letter-spacing: 3px;
	font-family: Helvetica;
	font-size: 18px;
	font: bold;
	transform: rotate(-70deg);
	-ms-transform: rotate(-70deg);
	-webkit-transform: rotate(-70deg);
}
#img6{
	transform: rotate(70deg);
	-ms-transform: rotate(70deg);
	-webkit-transform: rotate(70deg);
	top:340px;
	left:130px;
	position: relative;
}

h10, #girl_scouts{
	position: relative;
	top:64%;
	left: 100%;
	letter-spacing:3px;
	font-family: Helvetica;
	font-size: 18px;
	font: bold;
	transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);

}

h11 {
	position: relative;
	top: 180px;
	left: -510px;
	letter-spacing:3px;
	font-family: Helvetica;
	font-size: 18px;
	font: bold;
	transform: rotate(110deg);
	-ms-transform: rotate(110deg);
	-webkit-transform: rotate(110deg);
}

h12 {
	position: relative;
	top: 330px;
	left: -580px;
	letter-spacing:3px;
	font-family: Helvetica;
	font-size: 18px;
	font: bold;
	transform: rotate(70deg);
	-ms-transform: rotate(70deg);
	-webkit-transform: rotate(70deg);
}
h13 {
	position: relative;
	top: 435px;
	left: -580px;
	letter-spacing:3px;
	font-family: Helvetica;
	font-size: 16px;
	font: bold;
	transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
}
h14 {
	position: relative;
	top: 530px;
	left: -255px;
	letter-spacing:1.5px;
	font-family: Helvetica;
	font-size: 16px;
	font: bold;
	transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
}
h15{
	position: relative;
	top: 560px;
	left: -190px;
	letter-spacing:3px;
	font-family: Helvetica;
	font-size: 16px;
	font: bold;
}
h16{
	position: relative;
	top: 480px;
	left: 440px;
	letter-spacing:3px;
	font-family: Helvetica;
	font-size: 16px;
	font: bold;
	transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	-webkit-transform: rotate(-50deg);
}
p{
	font-family: Helvetica;
	font-size:22px;
	padding-top: 10px;
	padding-left: 35px;
	
}
#extra{
	top:0%;
	position: relative;
	display: none;
}

#img7{
	transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	position: relative;
	top: 190px;
	left: -140px;
}
#img8{
	transform: rotate(340deg);
	-ms-transform: rotate(340deg);
	-webkit-transform: rotate(340deg);
	positon: relative;
	top: 290px;
	left: -240px;
}
#img9{
	transform: rotate(-70deg);
	-ms-transform: rotate(-70deg);
	-webkit-transform: rotate(-70deg);
	top: 370px;
	left: -270px;
	position: relative;
}

#img10 {
	top: 472px;
	left: 110px;
	margin: auto;
	position: relative;
	transform: rotate(-40deg);
}
#img11 {
	top: 490px;
	left: 150px;
	margin: auto;
	position: relative;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
#img12 {
	top: 475px;
	left: 185px;
	margin: auto;
	position: relative;
	transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
}

#me{
	top:-2px;
	left: 102%;
	position: absolute;
}

.skills_text{
	letter-spacing:3px;
	font-family: Helvetica;
	font-size: 24px;
	font: bold;
	position: relative;
	padding-top: 10px;
	padding-left: 35px;
}
li{
	letter-spacing:1px;
	font-family: Helvetica;
	margin: auto;
	font-size: 20px;
	color: black;
	font: bold;
	position: relative;
	left:35px;
}

#about_me2{
left:6%;
position: absolute;
background-color: #DDDDDD;
border: 2px solid black;
width: 70%;
height: 440px;
}

#interests{	
-webkit-transform: translate(50%, -182%);
transform: translate(50%, -182%);
position: relative;
}

#academics-title{
	letter-spacing: 3px;
	font-family: Helvetica;
	font-size: 24px;
	position: relative;
	top:520px;
	left: 40%;
	margin: auto;
	
}
